FLASK_DEBUG=true
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hackathon_db
DATABASE_NAME=hackathon_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/RESTOFURLHERE
APP_URL=appurlhere
REDIS_URL=redis://redis:6379/0 
